*~
.DS_Store
data/rom/**
data/sna/**
!.keep
!/data/boot.cfg
!data/rom/diag_v28.rom
!data/rom/zx48.rom
!data/rom/opense.rom
!data/sna/fantasy.sna
!data/sna/sppong.sna
!data/sna/beep.sna
!data/sna/diag.sna
!data/sna/sintetiza.sna
.pioenvs/
platformio.ini
.clang_complete
.gcc-flags.json
/work
